/* ----------------------------------------------------------------------------------*/
/*                            SETUP                                                  */
/* ----------------------------------------------------------------------------------*/
:root {
  --button-color: #e67e22;
  --buttonHover-color:#cf6d17;
  --regularText-color: #fff;
  --background-1-color: #fff;
  --background-2-color: #f4f4f4;
}
/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* clearfix class clear floats after an element */
.clearfix{zoom: 1}
.clearfix::after{
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------------------------------------------*/
/*                            Re-Usable Components                                   */
/* ----------------------------------------------------------------------------------*/

.row {
  max-width: 1140px;
  /* centered row */
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* Heading */
h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 300;
}

h1{
  /* git rid of margin = whitespace in header from normalize.css */
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--regularText-color);
  /* font size is 20px by 240% => increases font size */
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: var(--button-color);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3{
  font-size: 110%;
  margin-bottom: 15px;
}

/* Paragraph */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ----------------------------------------------------------------------------------*/
/*                           Links                                                   */
/* ----------------------------------------------------------------------------------*/

a:link,
a:visited {
  text-decoration: none;
  color: #e67e22;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ----------------------------------------------------------------------------------*/
/*                           Buttons                                                 */
/* ----------------------------------------------------------------------------------*/

/* 
 --button-color: #e67e22;
  --buttonHover-color:#cf6d17;
  --regularText-color: #fff;
  --background-1-color: #fff;
  --background-2-color: #f4f4f4;
} */


.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    color: var(--background-1-color);
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid var(--button-color);
    color: var(--button-color);
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: var(--buttonHover-color);
    cursor: pointer;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid var(--buttonHover-color);
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid var(--buttonHover-color);
    color: var(--background-1-color);
}
/* icons */

.icon-big {
  font-size: 350%;
  display: block;
  color: var(--button-color);
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: var(--button-color);
  font-size: 120%;
  margin-right: 10px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ----------------------------------------------------------------------------------*/
/*                            Header                                                 */
/* ----------------------------------------------------------------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/hero.jpg);
  /* fill the whole viewport with the image*/
  height: 100vh; 
  /* adjust to see the whole image */
  background-size: cover;
  /* center background */
  background-position: center;
  background-attachment: fixed;
}

/* center box containing main title and buttons*/
.hero-text-box {
  /* center it vertically and horizontally */
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* logo styling */
.logo {
  /* 100px */
  height: 5rem;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* nav bar */
.main-nav {
  /* puts navbar to the right */
  float: right;
  list-style: none;
  margin-top: 55px;
}

/* navabar list elements */
.main-nav li {
  /* change behaivor from block to inline block in order to make them side by side */
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  /* some padding between border and link */
  padding: 8px 0;
  color: var(--regularText-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  /* border exists but not visible if not hovered over */
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--buttonHover-color);
}
/* Mobile navbar */
.mobile-nav-icon {
  cursor: pointer;
  float: right;
  margin-top: 30px;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* sticky navbar */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef ;
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  /* some padding between border and link */
  padding: 16px 0;
  color: #555;
}

.sticky .logo {
  display: none;
}
.sticky .logo-black {
  display: block;
}
/* ----------------------------------------------------------------------------------*/
/*                            Features                                               */
/* ----------------------------------------------------------------------------------*/

.section-features .long-copy {
  margin-bottom: 30px;
}


/* ----------------------------------------------------------------------------------*/
/*                            Meals!!!!                                              */
/* ----------------------------------------------------------------------------------*/
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  /* 4 list elements so 100/4 = 25 */
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  /* prevent overflow */
  overflow: hidden;
  /* make background black */
  background-color: #000;
}

/* formatted photo */
.meal-photo img {
   /* greying the image */
   opacity: 0.7;
  /* ensures img is exact width as container */
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* ----------------------------------------------------------------------------------*/
/*                            How it works!!!                                        */
/* ----------------------------------------------------------------------------------*/

/* slight backgroud */
.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;

}
.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

/* format numbers */

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float:left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}
 /* format phone app buttons */
 .btn-app img {
   height: 50px;
   width: auto;
   margin-right: 10px;
 }

 /* ----------------------------------------------------------------------------------*/
/*                            Our Cities                                             */
/* ----------------------------------------------------------------------------------*/

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

/* ----------------------------------------------------------------------------------*/
/*                            Referrals                                             */
/* ----------------------------------------------------------------------------------*/
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

blockquote::before {
  /* iso special character -> quote */
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  /* parent */
  position: relative;
  margin-top: 40px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ----------------------------------------------------------------------------------*/
/*                       Section 6: Pricing Plans                                    */
/* ----------------------------------------------------------------------------------*/

.section-plans {
  background-color: var(--background-2-color);
}

.plan-box {
  background-color: var(--background-1-color);
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: var(--button-color)
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/* ----------------------------------------------------------------------------------*/
/*                       Section 7: Contact Form                                     */
/* ----------------------------------------------------------------------------------*/

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text], 
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focuss {
  outline: none;
}

.form-messages {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 30px;
  color: #333;
}

.success {background-color: rgba(38, 191, 68, 0.8;}
.error {background-color: rgba(231, 76, 60, 0.6);}
/* ----------------------------------------------------------------------------------*/
/*                       Section 8: Footer                                           */
/* ----------------------------------------------------------------------------------*/

footer {
  background-color: #333;
  font-size: 80%;
  padding: 50px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link, 
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover, 
.social-links li a:active {
  color: #ddd;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

footer .footerLink {
  text-decoration: none;
  border-bottom: none;
}

footer a:hover {
  color: #ddd;
}

.social-links li a:link, 
.social-links li a:visited {
  font-size: 150%;
}

.ion-social-facebook:hover {
   color: #3b5998;
}
.ion-social-twitter:hover {
   color: #00aced;
}

.ion-social-instagram:hover {
   color: #517fa4;
}

.ion-social-facebook, 
.ion-social-twitter, 
.ion-social-googleplus, 
.ion-social-instagram {
  transition: color 0.2s;
}



/* ----------------------------------------------------------------------------------*/
/*                            Animation                                       */
/* ----------------------------------------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;

}

.js--wp-4 {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
